body {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.square {
    box-sizing: border-box;
    border: 0.5px solid black;
    background-color: white;
    width: 40px;
    height: 40px;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 0.5px solid black;
}