body {
    background-color: hsl(0, 0%, 10%);
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.square {
    box-sizing: border-box;
    border: 0.5px solid hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 100%);
    width: 40px;
    height: 40px;
}
#grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 0.5px solid hsl(0, 0%, 0%);
}